@font-face {
    font-family: Oranienbaum; /* Имя шрифта */
    src: url(/fonts/Oranienbaum.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "PT Sans"; /* Имя шрифта */
    src: url(/fonts/PTS55F.ttf); /* Путь к файлу со шрифтом */
}

body {
    background-color: #f5efee;
    font: 1em "PT Sans";
    background: url('../img/main-bg.jpg')  no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

h1 {
    font: normal 1.4em "PT Sans";
    margin:10px 0 20px 0;
}

header {
    height:278px;
    margin: 0 auto;
    padding: 0 59px;
    font-family: Oranienbaum;
    color: #1d1d1b;
    /*background: url('../img/header-bg.jpg') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    /*-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    /*-o-background-size: 100%; /* Opera 9.6+ */
    /*background-size: 100%; /* Современные браузеры */
}

.clear {
    clear: both;
}

.header-content {
    width:842px;
    margin: 0 auto;
}
.header-content-bg {
    width:842px;
    height:94px;
    margin: 0 auto;
    background: url('../img/header-content-bg.png') no-repeat;
    position: relative;
}

.header-content-bg img {
    position: relative;
    top:16px;
}

.header-phone {
    font-size: 1.1em;
    float: right;
    top: 57px;
    position: absolute;
    right: 0;
}

.header-adress {
    font-size: 1em;
    float: right;
    top: 120px;
    position: absolute;
    right: 0;
}
nav {
    width:668px;
    background-color: #02615e;
    border-radius: 10px;
    height: 32px;
    position: absolute;
    top:80px;
    float: right;
    right: 0;
}
nav ul li {
    float:left;
    line-height: 32px;
    padding-left: 10px;
    font-size: 0.92em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content-wrapper {
    width:842px;
    padding: 0 59px;
    padding-bottom: 190px;
    margin: 0 auto;
    top:173px;
    margin-top: -105px;
    background: url('../img/footer-content-bg.png') no-repeat;
    background-position: bottom;
}

aside {
    float: right;
    padding: 0 22px;
}

.slider {
    width: 690px;
}
.slider ul {
    text-align: center;
    margin-top: 10px;
}
.slider ul li{
    margin: 0 4px;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.slider ul li a{
    width: 15px;
    height: 15px;
    display: block;
    background-color: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    border: 1px solid #999;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.slider ul li a.active {
    background-color: #b47a40;
}
.content {
    width: 690px;
    margin-top: 25px;
}

.content-btn {
    width: 195px;
    height: 83px;
    background-color: #6ab42d;
    padding: 5px;
    margin: 0 auto;
    margin-top: 15px;
}

.content-btn-border {
    border:2px solid #fff;
    width: 190px;
    height: 78px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content-btn .content-btn-border span {
    text-transform: uppercase;
    color:#fff;
    font-size: 1.4em;
}

.button-section {
    margin-top: 20px;
}

.one-third-button-section {
    width:33%;
    float:left;
    text-align: center;
}

.one-third-button-section:last-child {
    width:34%;
    float:right;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

footer {
    border-top:1px solid #000;
    width: 842px;
    height:60px;
    padding: 0 59px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: -80px;
    font-size: 0.8em;
}


ul.footer-menu li {
    float:left;
    padding-left: 20px;
}

ul.footer-menu li a {
    color: #000;
}

ul.footer-menu li a:hover {
    text-decoration: underline;
}

.footer-contact-info {
    float:right;
}

.copy {
    padding-left: 10px 0 0 20px;
    float: left;
}